.logoutPage {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #7451f8, #9b7bff);
}

.logoutCard {
  padding: 40px;
  text-align: center;
  border-radius: 14px;
  width: 320px;
}

.logoutIcon {
  font-size: 50px;
  color: #7451f8;
}
